.htaccess
wp/wp-content/uploads/
wp/wp-content/blogs.dir/
wp/wp-content/upgrade/
wp/wp-content/backup-db/
wp/wp-content/advanced-cache.php
wp/wp-content/wp-cache-config.php
wp/sitemap.xml
*.log
wp/wp-content/cache/
wp/wp-content/backups/
wp/sitemap.xml.gz
wp/wp-config.php
